# Scaling Example

In [102]:
from sklearn.preprocessing import StandardScaler

In [103]:
Age = np.array([16, 40 ,72]).reshape(-1,1)

In [104]:
import numpy as np

In [105]:
np.mean(Age)

42.666666666666664

In [106]:
np.std(Age)

22.939534045447004

In [107]:
scaler = StandardScaler()

In [108]:
print(scaler.fit(Age))

StandardScaler()

In [109]:
print(np.sqrt(scaler.var_))

[22.93953405]

In [111]:

print(scaler.mean_)

[42.66666667]

In [112]:
print(scaler.transform(np.array([31]).reshape(1,-1)))

[[-0.50858342]]

In [113]:
(31-42.66)/22.93

-0.508504143044047

In [96]:
with open("myscaler.pkl","wb") as f:
    pickle.dump(scaler, f)

# Tf - idf example

In [97]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
 'This is the first document.',
'This document is the second document.',
 'And this is the third one.',
'Is this the first document?']
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)

In [98]:
X.shape

(4, 9)

In [99]:
X

<4x9 sparse matrix of type '<class 'numpy.float64'>'
	with 21 stored elements in Compressed Sparse Row format>

In [100]:
import pandas as pd
feature_names = vectorizer.get_feature_names()
df= pd.DataFrame(X.toarray(),columns=feature_names)

C:\Users\amanr\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [101]:
df

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085